@model QLBH.Models.SanPhamm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SanPhamm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSp" class="control-label"></label>
                <input asp-for="MaSp" class="form-control" />
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSp" class="control-label"></label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dvt" class="control-label"></label>
                <input asp-for="Dvt" class="form-control" />
                <span asp-validation-for="Dvt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangSx" class="control-label"></label>
                <input asp-for="HangSx" class="form-control" />
                <span asp-validation-for="HangSx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThanhPhan" class="control-label"></label>
                <input asp-for="ThanhPhan" class="form-control" />
                <span asp-validation-for="ThanhPhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
